*{
    padding: 0;
    margin: 0;
}
body{
    background-color: wheat;
    color: hsl(222, 26%, 31%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(222, 26%, 31%);
    text-decoration: none; 
    margin-bottom: 10px;
}
main{
    min-width: 350px;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
}
small{
    display: none;
}
.header{
    margin:  40px auto;
    color: hsl(222, 26%, 31%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header h2{
    font-size: 45px;
    text-align: center;
}
.header h3{
    font-size: 25px;
    text-align: center;
}
.heading-2 h2 {
    text-align: left;
    font-size: 20px;
    margin: 20px;
}
form{
    width: 100%;
}
form input, form select {
    width:100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.field{
    margin: 15px auto;
}
small{
    display: block;
    color: hsl(222, 26%, 31%);
    font-size: 18px;
}
button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: hsl(222, 26%, 31%);
    color: white;
    padding: 10px;
    margin: 20px auto;
}
button:hover {
    background-color: whitesmoke;
    color: hsl(222, 26%, 31%);
    border: 1px solid hsl(222, 26%, 31%)
}

.list li {
    list-style: none;
    margin-left: 20px;
    border: 1px solid hsl(222, 26%, 31%);
    padding: 10px;
}